@using SmartHouseMVC.Models.DBClas

@{
    Layout = null;
}
<div class="figure-div">
    @foreach (AudioPlayerdb item in ViewBag.AudioPlayers)
    {
        <div class="figure">
            <h3>@item.Name</h3><br />
            @if (item.Status == true)
            {
            <p>Устройстро включено</p>
            @Html.RouteLink("Выключить", new { controller = "My", action = "OnOff", id = item.Id }, new { id = item.Id, @class = "btn btn-small btn-primary " })
            <p>Громкость</p>
            @item.Volumes<br />
            @Html.RouteLink("Увеличить", new { controller = "My", action = "IncreaseVolume", id = item.Id }, new { id = item.Id, @class = "btn btn-small btn-primary " })
            @Html.RouteLink("Уменьшить", new { controller = "My", action = "DecreasVolume", id = item.Id }, new { id = item.Id, @class = "btn btn-small btn-primary " })<br />
            <p>Трек</p>
            @item.Trec<br />
            @Html.RouteLink("Увеличить", new { controller = "My", action = "TrecNext", id = item.Id }, new { id = item.Id, @class = "btn btn-small btn-primary " })
            @Html.RouteLink("Уменьшить", new { controller = "My", action = "TrecPrevious", id = item.Id }, new { id = item.Id, @class = "btn btn-small btn-primary " })<br />
            @Html.RouteLink("Удалить", new { controller = "My", action = "DeleteAudio", id = item.Id }, new { id = item.Id, @class = "btn btn-small btn-primary " })<br />
            }
            else
            {
            <p>Устройстро выключено</p>
            @Html.RouteLink("Включить", new { controller = "My", action = "OnOff", id = item.Id }, new { id = item.Id, @class = "btn btn-small btn-primary " })
            }
        </div>
            }
        </div>
    