


@using SmartHouseMVC.Models.clas
@model IDictionary<int, Technics>

@{
    Layout = null;
}
<div class="figure-div">
    <h2>CeilingLamp</h2>

    @foreach (var item in Model)
    {
        

            if (item.Value is CeilingLamp)
            {
                <div class="figure">
                    @if (item.Value.status == true)
                    {
                        <h2>@item.Value.Name</h2><br />
                        @Html.RouteLink("Включить", new { controller = "My", action = "Off", id = item.Key }, new { id = item.Key, @class = "btn btn-default" })
                        <span>Освещение:</span>
                        @Html.Label(((CeilingLamp)item.Value).BrightLight.ToString())<br />
                        @Html.RouteLink("Увеличить", new { controller = "My", action = "IncreaseBrightLight", id = item.Key }, new { id = item.Key, @class = "btn btn-default" })
                        @Html.RouteLink("Уменьшить", new { controller = "My", action = "DecreasBrightLight", id = item.Key }, new { id = item.Key, @class = "btn btn-default" })<br />

                    }
                    else
                    {
                        <h2>@item.Value.Name</h2><br />
                        @Html.RouteLink("Выключить", new { controller = "My", action = "On", id = item.Key }, new { id = item.Key, @class = "btn btn-default" })
                    }
                </div>
            }

    }
</div>