
@using SmartHouseMVC.Models.clas
@model IDictionary<int, Technics>

@{
    Layout = null;
}
<div class="figure-div">
    <h2>Refrigerator</h2>

    @foreach (var item in Model)
    {
        
            if (item.Value is Refrigerator)
            {
                <div class="figure">
                    @if (item.Value.status == true)
                    {
                        <h2>@item.Value.Name</h2><br />
                        @Html.RouteLink("Включить", new { controller = "My", action = "Off", id = item.Key }, new { id = item.Key, @class = "btn btn-default" })
                        <span>Температура:</span>
                        @Html.Label(((Temperature)item.Value).Temprich.ToString())<br />
                        @Html.RouteLink("Увеличить", new { controller = "My", action = "IncreaseTempriche", id = item.Key }, new { id = item.Key, @class = "btn btn-default" })
                        @Html.RouteLink("Уменьшить", new { controller = "My", action = "DecreasTempriche", id = item.Key }, new { id = item.Key, @class = "btn btn-default" })<br />
                        <span>Яркость:</span>
                        @Html.Label(((Refrigerator)item.Value).Bright.ToString())<br />
                        @Html.RouteLink("Увеличить", new { controller = "My", action = "IncreaseBright", id = item.Key }, new { id = item.Key, @class = "btn btn-default" })
                        @Html.RouteLink("Уменьшить", new { controller = "My", action = "DecreasBright", id = item.Key }, new { id = item.Key, @class = "btn btn-default" })<br />

                    }
                    else
                    {
                        <h2>@item.Value.Name</h2><br />
                        @Html.RouteLink("Выключить", new { controller = "My", action = "On", id = item.Key }, new { id = item.Key, @class = "btn btn-default" })
                    }
                </div>
            }

    }
</div>